--extra-index-url https://download.pytorch.org/whl/cpu

# Hardware
smbus2
pyusb
pyserial
gpiozero
ADS1x15-ADC

# Vision
opencv-python
ultralytics
onnxruntime
torch
torchvision

# Analysis
pandas
matplotlib
